---
import { FUNCTIONS_ROUTES } from "@lib/routes"

import Layout from "@layouts/Layout.astro"
import { ReaderWrapper } from "@components"
import { getChapterHtml, getRepoIndex, isValidRepo } from "@lib/api"
import {
  getBookAndChapterFromUrl,
  getPreferredLangFromHeader,
  seedAndMutateInitialDataRepoIndex,
  res404
} from "@lib/utils"
let { repo, user } = Astro.params

// url routes validation check
if (!repo || !user) res404("Not found")

repo = String(repo)
user = String(user)
// is current wacs repo check
const isValid = isValidRepo({ user, repo })
if (!isValid) res404("Invalid repo")

// get of text and metadata
const repoIndex = await getRepoIndex({ user, repo })
if (!repoIndex) return res404("Index fetch failed")

// grab query params (if present) for initial HTML
const { book, chapter } = getBookAndChapterFromUrl({
  book: Astro.url.searchParams.get("book"),
  chapter: Astro.url.searchParams.get("chapter"),
  repoIndex
})
//  intial props/data for page;
const initialHtml = await getChapterHtml({ user, repo, book, chapter })
seedAndMutateInitialDataRepoIndex({
  repoIndex,
  book, //slug, not native label;
  chapter,
  initialHtml: String(initialHtml)
})
const preferredLocale = getPreferredLangFromHeader(Astro.request)
---

<Layout title={repo} use100vh={true}>
  <div class="font-sans h-full bg-neutral-50">
    <noscript> You get me if you don't have JS</noscript>
    <ReaderWrapper
      client:load
      firstBookKey={book}
      firstChapterToShow={chapter}
      repoData={repoIndex}
      user={user}
      repositoryName={repo}
      preferredLocale={preferredLocale}
    />
  </div>
</Layout>
