---
export interface Props {
  title: string
  use100vh?: boolean
  textDir: string
  repoUrl: string
  customFont?: string | null
  customFontFamily?: string | null
}
// imports
import { pwaInfo } from "virtual:pwa-info"
import "../styles/global.css"
import { Nav } from "@components"
import { getPreferredLangFromHeader } from "@lib/utils"

// data
const { title, use100vh, textDir, repoUrl, customFont, customFontFamily } =
  Astro.props

const preferredLocale = getPreferredLangFromHeader(Astro.request)
let initialDictModule = await import(`../translations/${preferredLocale}.js`)
const initialDict = initialDictModule.default
---

<!DOCTYPE html>
<html lang={preferredLocale} dir={textDir}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon-32x32.png" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/atkinson/atkinson-hyperlegible-v10-latin-ext_latin-regular.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/atkinson/atkinson-hyperlegible-v10-latin-ext_latin-700.woff2"
      crossorigin
    />
    {
      customFont && customFontFamily && (
        <link
          rel="preload"
          as="font"
          type="font/woff2"
          href={customFont}
          crossorigin
        />
      )
    }
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content="A site to read rendered USFM" />
    <script src="/src/pwa.ts"></script>
    {
      // Astor pwa used to work with just the virtual script, but it wasn't for me during some builds, so going ahead and  making sure to put manifest link here in prod.  As long as the build process spits out manifest.webmanifest, this should be fine.
      import.meta.env.PROD && pwaInfo && (
        <Fragment
          set:html={pwaInfo.webManifest.linkTag}
        />
      )
    }
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}

<!-- LogRocket initialization -->
<script src="https://cdn.lr-ingest.com/LogRocket.min.js" crossorigin="anonymous"></script>
<script>window.LogRocket && window.LogRocket.init('ct7zyg/bible-in-every-language', {rootHostname: 'bibleineverylanguage.org'});</script>
<!-- End LogRocket initialization -->
  </head>
  <body
    style={customFont && customFontFamily
      ? { "font-family": customFontFamily }
      : null}
    class={customFont && customFontFamily && "usingCustomFont"}
  >
    <div class={use100vh ? "print:block print:pb-20" : ""} id="pageWrapper">
      <Nav
        preferredLocale={preferredLocale}
        initialDict={initialDict}
        repoUrl={repoUrl}
      />
      <slot />
    </div>
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "feb40c2dec594227888151cf163244d6"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
